body {

    font-family: 'Lato', sans-serif;


    font-family: 'Changa', sans-serif;
    font-family: 'Lalezar', cursive;
    font-family: 'Rubik', sans-serif;
    font-family: 'Handjet', cursive;
    font-family: 'Readex Pro', sans-serif;
    font-family: "Droid Arabic Kufi";
    /* background: #F5F5F5; */
    background: #D8D9DA;
    font-size: 12px;

}
.hdr {
  font-family: 'Aref Ruqaa Ink', serif;
  color:  #d7a7d3;
}
